---
http_interactions:
- request:
    method: get
    uri: https://webopenapi.hccg.gov.tw/v1/Activity?top=101
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"top:取前幾筆，最多100筆;","url":"https://webopenapi.hccg.gov.tw/v1/Activity"}'
  recorded_at: Thu, 30 Oct 2025 15:52:20 GMT
- request:
    method: get
    uri: https://webopenapi.hccg.gov.tw/v1/Activity?top=100
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"serno":"202509110001","pubunitdn":"OU=4317,OU=4300,OU=hsinchu,DC=hccg,DC=local","pubunitname":"心理健康科","subject":"#安心所在----身心友善空間招募","detailcontent":"<div
        class=\"zbox\">\n<div class=\"main-a_01\">\n<div class=\"main-a_03\">雖然心理的傷無法從外表被看見，但在我們的日常生活中，有許多正在面對情緒困境與壓力的人，他們也許找不到合適的空間安心所在，甚至可能因為自己的情緒狀態遭受誤解甚至被排斥。<br
        />\n我們相信每一個人，都值得被友善地對待。<br />\n新竹市衛生局、新竹市社區心理衛生中心及新竹市生命線協會攜手，邀請本市支持心理健康與多元共融價值的店家與單位，參與「安心所在」友善空間的計畫，透過一枚貼紙、一句接納的訊息，讓心理受苦者知道：「你不孤單，這裡歡迎你」。</div>\n\n<ul>\n\t<li
        class=\"main-a_03\">如果你是願意加入安心所在行列的店家，歡迎填寫表單https://forms.gle/V2kA8GrD8qLXSe5Y7安心所在地圖建構中，將於9月12日公布於新竹市社區心理衛生中心網站。</li>\n\t<li
        class=\"main-a_03\">如果你想到有適合的店家，歡迎將資訊分享出去，詳細說明可參考以下連結 https://docs.google.com/document/d/1esNdwqtNO3R4bL5GcV5q9d2AyIB0HQt5IMZeyhtfcuE/edit?usp=sharing</li>\n\t<li
        class=\"main-a_03\">讓我們成為彼此的支持者，讓我們的城市更加溫柔溫暖。</li>\n</ul>\n\n<div class=\"main-a_03\"><img
        alt=\"安心所在 新竹市衛生局關心您\" src=\"/userfiles/4317/images/%E6%96%B0%E7%AB%B9%E5%B8%82%E7%94%9F%E5%91%BD%E7%B7%9A_%E5%AE%89%E5%BF%83%E6%89%80%E5%9C%A8%E8%B2%BC%E7%B4%99%E8%A8%AD%E8%A8%88%203%20(002)(1).jpg\"
        style=\"width: 100%; height: auto; padding: 3px;\" title=\"123\" /></div>\n</div>\n</div>\n","posterdate":"20250911","closedate":"20261031","startusing":"0","liaisonper":"","liaisontel":"","liaisonfax":"","liaisonemail":"","readnumber":"100","subjectid":"1","subjectclass":"[100]內政及國土","administationid":"1","administationclass":"[100]內政及國土安全","serviceid":"18","serviceclass":"[I00]公共資訊","languagetype":"chinese","copyright":"","voice":"#安心所在----身心友善空間招募","hostunit":"","jointunit":"","invite":"","activitysdate":"202509110950","activityedate":"202610310950","activityplace":"新竹市","activitydateremark":"","posterdatalist":[],"filedatalist":[],"resourcedatalist":[],"mapdatalist":[]},{"serno":"202410240001","pubunitdn":"OU=2501,OU=2500,OU=hsinchu,DC=hccg,DC=local","pubunitname":"勞資關係科","subject":"「114年度職工福利業務宣導會」自即日起開放報名！","detailcontent":"<div
        class=\"zbox\">\n<div class=\"main-a_01\">\n<div class=\"main-a_03\">為輔導本市事業單位僱用職工50人以上依法設置職工福利委員會及協助各事業單位職工福利委員會瞭解職工福利業務、勞工福利資訊管理系統線上申報操作、職工福利委員會稅務結算及申報之法令與實務，爰辦理本宣導會，以促進職工福利業務有效執行。<br
        />\n宣導會相關資訊如下：<br />\n1.時間：114年11月20日（星期四）13時至17時40分（13時至13時30分報到）。<br />\n2.地點：本市稅務大樓7樓視聽教室(新竹市東區中央路112號)。<br
        />\n3.課程內容：[...]
- request:
    method: get
    uri: https://webopenapi.hccg.gov.tw/v1/Activity?top=100
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"serno":"202511270004","pubunitdn":"OU=5003,OU=5000,OU=hsinchu,DC=hccg,DC=local","pubunitname":"表演藝術科","subject":"[表演][演藝廳]《王者之聲─再現千年古樂》音樂會","detailcontent":"<div
        class=\"zbox\">\n<div class=\"main-a_01\">\n<div class=\"main-a_03\"><br />\n曾侯乙編鐘是戰國時期的珍貴文物，以其精湛的鑄造技術和完整的音律系統著稱。複製品以原件為基礎，忠實再現了其外觀與聲音效果，觀眾將有機會近距離欣賞這件傳世珍寶，並體驗其音樂魅力。展覽融合歷史、科技與藝術，這是一場展現東方古代音樂文化與工藝巔峰的盛事。<br
        />\n此次邀請臺灣國樂團現場演奏《鐘鼓樂》、《梅花三弄》、《霓裳羽衣曲》曲目，其演出不僅展現了中國傳統音樂的精髓，還透過編鐘的獨特音色，讓觀眾感受到古代樂器的非凡魅力。演出中，樂團巧妙地融合了傳統與現代的音樂元素，不僅展示了國樂團在音樂詮釋上的深厚功力，為現場觀眾帶來了一場視覺與聽覺的雙重饗宴。<br
        />\n<br />\n<img alt=\"cover\" src=\"/userfiles/5003/images/1129-1130%E7%B7%A8%E9%90%98%E6%8E%A8%E5%BB%A3%E6%BC%94%E5%87%BA%E6%B4%BB%E5%8B%95.jpg\"
        style=\"width: 99%; height: auto; padding: 3px;\" title=\"cover\" /></div>\n\n<div
        class=\"main-a_03\" style=\"text-align: center;\">入場方式：免費報名入場<a href=\"https://forms.gle/urhcnJbAVvQGHGtF9\">https://forms.gle/urhcnJbAVvQGHGtF9</a><br
        />\n時間：11/29(六)、11/30(日) 11:00、14:00、15:30</div>\n\n<div class=\"main-a_03\">&nbsp;</div>\n</div>\n</div>\n","posterdate":"20251127","closedate":"20251206","startusing":"0","liaisonper":"陳小姐","liaisontel":"02-8866-9600#1452","liaisonfax":"","liaisonemail":"","readnumber":"79","subjectid":"4,41","subjectclass":"[400]教育文化,[440]文化藝術","administationid":"13,337,1536","administationclass":"[D00]文化及觀光,[D70]視覺與表演藝術,[D72]表演藝術","serviceid":"9,66,309","serviceclass":"[900]休閒旅遊,[950]藝術文化,[951]表演活動","languagetype":"chinese","copyright":"","voice":"入場方式：免費報名入場https://forms.gle/urhcnJbAVvQGHGtF9\n時間：11/29(六)、11/30(日)
        11:00、14:00、15:30\n","hostunit":"","jointunit":"","invite":"","activitysdate":"202511291100","activityedate":"202511301530","activityplace":"新竹市文化局演藝廳－2樓A展場","activitydateremark":"","posterdatalist":[{"serno":"202511270004","detailno":1,"mserno":"202205270002","msernoname":"表演、影展及其他藝文","websitedn":"ou=hcccb,ou=ap_root,o=hccg,c=tw","websitename":"文化局","websiteexam":"Y","websiteexamdate":"","websiteexamname":"","istop":"N","topdate":"","datasort":9999999,"examineemail":"1","examineexplain":""}],"filedatalist":[],"resourcedatalist":[{"serno":"202511270004","detailno":1,"relateurl":"https://www.facebook.com/dongda17/posts/pfbid02sgGd1h4Nj1wJnaFYxdsjBMBjFNaKHXTPH6mjGVv9vncKqfEBkkQGP9e3i93M9NaLl","relatename":"因目前新竹市文化局演藝廳周邊工程施作，進館動線和周邊停車資訊請詳見風城演藝公告。\t","target":"Y","readnumber":null,"datasort":9999999},{"serno":"202511270004","detailno":2,"relateurl":"https://forms.gle/urhcnJbAVvQGHGtF9","relatename":"免費報名入場","target":"Y","readnumber":null,"datasort":9999999}],"mapdatalist":[]},{"serno":"202511270003","pubunitdn":"OU=7200,OU=hsinchu,DC=hccg,DC=local","pubunitname":"家庭教育中心","subject":"【轉知/交通部】宣導交通安全~「減速停讓，安全MVP就是你」，提供相關影片連結，歡迎下載、運用～","detailcontent":"<div
        class=\"zbox\">\n<div class=\"main-a_01\">\n<div class=\"main-a_03\">交通部製作之「減速停讓，安全MVP就是你」等[...]
